.contest-table {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    margin-top: 10px;
  
  }
  
  .contest-table table {
    width: 70%;
    margin: 15px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #333;
    float: left;
  }
  
  .contest-table th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #444;
  }
  
  .contest-table th {
    background-color: #444;
  }
  
  .contest-table td:first-child {
    width: 8%;
  }
  
  .contest-table td:nth-child(2) {
    width: 4%;
    cursor: pointer;
  }
  
  .contest-table td:nth-child(1):hover {
    text-decoration: underline;
    color: steelblue;
  }
  
  .contest-table td:nth-child(3) {
    width: 2%;
  }
  
  .difficulty-easy {
    color: #248337;
  }
  
  .difficulty-medium {
    color: #c89b15;
  }
  
  .difficulty-hard {
    color: #f44336;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .page-btn {
    margin: 0 3px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 3px;
    color: #333;
  }
  
  .page-btn.active {
    background-color: #dcdcdc;
    color: #000;
    border: 1px solid #aaa;
  }
  